header {
	background-color: gray;
	text-align: center;
}

p {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	text-align: center;
}

label {
	padding-top: 30px;
}
