header {
	text-align: center;
	background-color: #58b792;
	border-radius: 10px;
}

#tribute-info {
	background-color: #58b792;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#img-caption {
	background-color: #58b792;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

body {
	background-color: #222;
}

#title {
	text-align: center;
}

#img-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 920px;
}
